{% extends 'main_layout.html.twig' %}
{% block page_title %}
Standard Room - Hotel
{% endblock %}
{% block header %}
<div class="top-bar">
    <ul class="top-bar__links">
        <li><a class="arial" href="#"><img src="/images/Pin.png">Location</a></li>
        <li><a class="arial" href="#"><img src="/images/Envelope.png" alt="">Mail Us</a></li>
        <li><a class="arial" href="#"><img src="/images/loginkey.png" alt="">Login</a></li>
    </ul>
    <div class="top-bar__langsel arial"><img src="/images/Search.png"><a href="">DE</a><span> | </span><a href="" style="color:#9B6333;">EN</a></div>
</div>
<div class="nav-bar">
    <img src="/images/Hotel.png" alt="page-logo">
    <ul class="nav__bar-links">
        <li><a href="/">Home</a></li>
        
        <li><a href="#">About</a></li>
        
        <li><a href="#">Rooms</a></li>
        
        <li><a href="#">Services</a></li>
        
        <li><a href="#">Blog</a></li>
        
        <li><a href="#">Contact</a></li>

        <li><button class="button">BOOK NOW</button></li>
    </ul>
</div>

{% endblock %}

{% block content%}
    <div class="content-room">
        <img class="big-picture" src="/images/imagesliderroom.png" alt="">
        <div class="image-slider-container">
            <img class="arrowleft" src="/images/arrowleft.png" alt="">
            <div class="image-slider">
                <img src="/images/imageslider1.png" alt="">
                <img src="/images/imageslider1.png" alt="">
                <img src="/images/imageslider1.png" alt="">
                <img src="/images/imageslider1.png" alt="">
            </div>
            <img class="arrowright" src="/images/arrowleft.png" alt="">
        </div>
        <div class="room-info-container arial">
            <div class="basic-info">
                <h2 class="playfair bold">{{products[0].title}}</h2>
                <div class="capacity">
                    <img src="/images/avatar.png" alt="">
                    <span>{{ products[0].max_adults }} Adults</span>
                    <img src="/images/baby.png" alt="">
                    <span>1 Child</span>
                    <img src="/images/dimensions.png" alt="">
                    <span>35 m2</span>
                </div>
                <hr>
                <p>Aenean tincidunt est eu tortor pretium, sed blandit orci posuere. Vivamus sit amet ornare lorem. Nunc mi orci, sodales id odio nec, bibendum ultricies est. Quisque nec tortor quis tellus tincidunt commodo. Sed aliquet convallis ante at eleifend.</p>
                <hr>
            </div>
            <div class="room-services">
                <h3 class="arial bold">Room services</h3>
                <ul>
                    <li><img src="/images/check.png" alt=""> <span>Accesories</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Bar 24 Hours</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Cleaning service</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Phone</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Restaurant</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Spa zone</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Transport</span> </li>
                    <li><img src="/images/check.png" alt=""> <span>Wi-Fi</span> </li>
                </ul>
            </div>
            
            <div class="hotel-rules">
                <h3 class="arial bold">Hotel rules</h3>
                <ul>
                    <li><span> - Lorem ipsum dolor sit amet</span></li>
                    <li><span> - Lorem ipsum dolor sit amet</span></li>
                    <li><span> - Lorem ipsum dolor sit amet</span></li>
                </ul>
            </div>
            <div class="book">
                <h3 class="bold">Start booking</h2>
                <span> 90.00$</span>
                
                <label for="dates">Dates</label>
                <div class="dates">
                    <input type="date" name="Dates" text="From">
                    <input type="date" placeholder="To Date">
                </div>
                
                <div class="guests">
                    <input type="number" placeholder= "Adults">
                    <input type="number" placeholder= "Children">
                </div>
                
                <button class="button">CHECK AVAILABILITY</button>
            </div>
            <div class="suggestions">
                <h3 class="bold">You may also like</h3>
                <div class="suggestion-item-container">
                    <div class="suggestion-item">
                        <img src="/images/suggestion1.png" alt="">
                        <h4 class="bold">Nature Room</h4>
                        <a href=""> Book now   ></a>
                        <span>$150.00</span>
                    </div>
                    <div class="suggestion-item">
                        <img src="/images/suggestion1.png" alt="">
                        <h4 class="bold">Nature Room</h4>
                        <a href=""> Book now   ></a>
                        <span>$150.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments-container">
            <h3>Comments</h3>
            <div class="comment">
                <div class="user">
                    <img src="/images/user1.png" alt="">
                    <div class="username">
                        <span class="bold">Carol Blue</span>
                        <span>28 Aug, 2020, 23:44PM</span>
                    </div>
                    <img class="reply-button" src="/images/reply.png" alt="">
                </div>
                <div class="comment-text">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                </div>
                <div class="comment-reply">
                    <div class="user">
                        <img src="/images/user2.png" alt="">
                        <div class="username">
                            <span class="bold">Ivonne Smith</span>
                            <span>28 Aug, 2020, 23:44PM</span>
                        </div>
                        <img class="reply-button" src="/images/reply.png" alt="">
                    </div>
                    
                    <div class="comment-reply-text">
                        Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </div>
                </div>
            </div>
            <div class="comment-form">
                <h3>Leave a comment</h3>
                <form action="">
                    <label for="name">Name</label>
                    <label for="email">Email</label>
                    
                    <div class="form-top">
                        <input id="name" type="text" placeholder="Your name">
                        <input id="email" type="text" placeholder="Your email">
                    </div>
                    <label for="comment">Comment</label>
                    <input id="comment" type="text" placeholder="Your comment">
                    <input class="checkbox" type="checkbox" > <span>Save my name and email in this browser for the next time I comment.</span>
                </form>
                <button class="button">COMMENT</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer-title">
            <img class="footer-title-logo" src="/images/Hotel.png" alt="">
            <p class="arial">Every day is a new day for relaxation.</p>
            <span class="arial bold">Follow us <img src="/images/fb.png" alt=""> <img src="/images/ig.png" alt=""> </span>
        </div>
        <div class="footer-address">
            <h2 class="arial bold">Address</h2>
            <span class="arial">London</span>
            <span class="arial bold">Main street 1 London, CA 70413<br>Open: 9:30AM 5:30PM</span>
            <span class="arial">New York</span>
            <span class="arial bold">Great street Broadway, NT 10013<br>Open: 8:30AM 4:30PM</span>
        </div>
        <div class="footer-contact ">
            <h2 class="bold">Contact us</h2>
            <a class="arial bold" href="teL:+44 (800) 456-78-91">+44 (800) 456-78-91</a>
            <a class="arial bold" href="mailto:hotel.london@mail.com">hotel.london@mail.com</a>
            <a class="arial bold" href="tel:+1 (810) 456-78-91">+1 (810) 456-78-91</a>
            <a class="arial bold" href="mailto:hotel.ny@mail.com">hotel.ny@mail.com</a>
        </div>
        <footer class="footer-newsletter">
            <h2 class="bold">Stay in touch</h2>
            <input type="text" placeholder="Your e-mail">
            <button class="arial bold">SUBSCRIBE</button>
        </footer>
        
    </div>   
    <div class="footer-bottom arial">
        <span >@2020, Frontend akademija</span>
        <div class="footer__bottom-container">
            <a class="arial bold" href="">Privacy Policy</a>
            <a class="arial bold" href="">Site map</a>
            <span class="arial">All Rights Reserved</span>
        </div>
    </div> 
{% endblock %}