@import url(//db.onlinewebfonts.com/c/ea250342ec4016561ba9e791c2f39c11?family=Posterama)
@import url(//db.onlinewebfonts.com/c/bedb96f9dd7dc1113f0ddb36925913ab?family=PosteramaBold) 
@import url(//db.onlinewebfonts.com/c/92cfbcf0aab51ba298c0c3d1452d8c7f?family=PosteramaText)

*
    padding: 0
    margin: 0
    text-decoration: none
body
    background-color: #dae3f2

img
    object-fit: cover
    
.posterama
    font-family: posterama, sans-serif

.header
    background-color: white
    width: 100%
    height: 5rem
    align-content: center
    display: flex
    flex-direction: row
    box-shadow: 0 10px 40px rgba(26, 26, 26, 0.4)
    .logo
        width: 22px
        height: 22px
        margin: 30px 10px 29px 30px
        transition: -webkit-box-shadow 0.2s
    .logo:hover
        cursor: pointer
        -webkit-box-shadow: 0px 0px 21px -2px #04a
    h1
        font-size: 16px
        margin-top: 1.9rem
        color: black
        height: fit-content
    
    h1:hover
        text-decoration: underline
        cursor: pointer

    button:hover
        -webkit-box-shadow: 0px 0px 21px -2px rgba(227,28,121,0.71)
    button
        background-color: #E31C79
        height: 60px
        font-size: 16px
        border: none
        width: 160px
        color: white
        position: absolute
        margin-top: 10px
        right: 10px
        align-content: center
        transition: visibility 0.3s
        transition: -webkit-box-shadow 0.2s
        
        img
            width: 14px
            margin-left: 14px
    


.main-container
    display: flex //flex
    flex-direction: column
    align-items: center
    width: 100%
    height: 54rem
    transition: display 1s
    z-index: -22
    h2
        display: inline-block
        font-size: 25px
        font-family: posteramaBold, sans-serif
        margin-top: 3.9rem
    .nav-container
        width: 39rem
        height: 7rem
        border-radius: 100px
        background-color: #BBC7D6
        position: absolute
        top: 25rem
        align-items: center
        .hero-button:hover
            cursor: pointer
        .hero-button
            background-color: #003DA7
            border-radius: 50%
            height: 100px
            width: 100px
            margin: 6px
            justify-content: center
            z-index: 2
            transition: height 0.5s, width 0.5s, transform 0.5s, background 0.35s
            img
                margin: 40px 0px 0px 40px
        .prev
            float: left
            pointer-events: none
            background: rgba(43, 43, 43, 0.09)
        
                
        .next
            float: right
    
    
    .hero-container
        z-index: 1
        transition: opacity 0.3s, transform 2s 
    
    .hero-card
        background-color: white
        margin-top:3.9rem
        width: 25rem
        height: 27rem
        box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4)
        display: none
        flex-direction: column
        align-items: center
        z-index: 2
        transition: opacity 0.3s, transform 2s 

        img
            width: 350px
            height: 320px
            object-fit: cover
            margin-top: 30px
            
        p
            font-size: 20px
            margin-top: 30px
            

    .hero-card:nth-child(1)
        display: flex
        

    .hidden-card
        height: 5px
        background-color: white
        box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4)
        z-index: -2
    .card1
        width: 390px
    .card2
        width: 370px
    .random
        color: #003DA7
        font-size: 16px
        font-family: PosteramaText, sans-serif
        margin-top: 3.8rem
        text-decoration: underline
        text-decoration-color: #BBC7D6
        transition: font-size 0.5s
    
    .hero-row *:hover 
        filter: grayscale(0)
        cursor: pointer
        opacity: 100%
        width: 90px
        height: 90px
        box-shadow: 4px 4px 92px -12px rgba(82,79,82,0.66)
        
    
    .hero-row
        display: flex
        flex-direction: row
        align-items: center
        width: fit-content
        height: 60px
        margin-top: 3.8rem
        

        img
            filter: grayscale(98%)
            width: 60px
            opacity: 50%
            height: 60px
            margin: 0 5px
            overflow: hidden
            border-radius: 50%    
            transition: filter 0.19s, width 0.19s ease-out, height 0.19s ease-out, box-shadow 0.19s, opacity 0.19s


.tournament-container
    display: none //flex
    flex-direction: row
    align-items: center
    width: 100%
    height: 52.1rem
    transition: display 1s
    justify-content: center 
    img
        border-radius: 50%
        width: 6.5rem
        height: 6.5rem
    .first-clmn
        display: flex
        flex-direction: column
        img 
            margin:3.7rem 1rem 3.7rem 50px
            width: 100px
            height: 100px
    
    .scnd-clmn
        display: flex
        flex-direction: column
        .winner
            display: flex
            flex-direction: column
            margin: 12rem 4rem 
            align-items: center
            font-size: 16px
            
            div
                width: 60px
                height: 60px   
                border-radius: 50%
                border: 1.7px dashed #BBC7D6
                display: flex
                justify-content: center
                margin: 0px 2rem
                img
                    margin-top: 20px
                    width: 24px
                    height: 20px
        .battle-winner-container
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            img
                transition: width 0.5s, height 0.5s
            
            .bracket    
                width: 4rem
                height: 13.5rem
                border: 1.7px solid #BBC7D6
                border-left: none
                align-items: center
                display: flex
                flex-direction: row
                justify-items: center
                p
                    
                    margin-left: 1rem
                    font-family:  posteramaText, sans-serif

                div
                    position: absolute
                    margin-left: 4rem
                    height: 2px
                    width: 5.5rem
                    background-color: #BBC7D6
                    
                    

    .last-row
        display: flex
        flex-direction: row
        justify-content: center

        .battle-winner-container
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            .final-bracket
                border: 1.7px solid #BBC7D6
                width: 5rem
                height: 5rem
                border-bottom: none
                margin-bottom: 16rem
                .div
                    width: 2px
                    height: 50px
                    background-color: #BBC7D6
                    img
                        transition: width 0.5s, height 0.5s

            .bracket    
                margin: 0 1rem 0 -5rem
                width: 4rem
                height: 28rem
                border: 1.7px solid #BBC7D6
                border-left: none
                align-items: center
                display: flex
                flex-direction: row
                justify-items: center
                p
                    margin-left: 1rem
                    font-family:  posteramaText, sans-serif

                div
                    position: absolute
                    margin-left: 4rem
                    height: 2px
                    width: 4rem
                    background-color: #BBC7D6
    .winner
            display: flex
            flex-direction: column
            margin: 12rem 4rem 
            align-items: center
            font-size: 16px
            
            div
                width: 60px
                height: 60px   
                border-radius: 50%
                border: 1.7px dashed #BBC7D6
                display: flex
                justify-content: center
                img
                    margin-top: 20px
                    width: 24px
                    height: 20px
                    


    
    .final-winner
        display: flex
        flex-direction: column
        align-items: center
        position: absolute
        top:11rem
        font-size: 16px

        .final-bracket
            margin-top: 5rem
            width: 12rem
            height: 4rem
            border: 1.7px solid #BBC7D6
            border-bottom: none
            
            div
                height: 4rem
                width: 2px
                background-color: #bbc7d6
                margin: -4rem 50% 0 50% 
                img
                    transition: width 0.5s, height 0.5s
                

        .battle-winner-container
            align-items: center
            justify-content: center
            p
                text-align: center
                margin-bottom:10px
                font-weight: 900
            div
                width: 100px
                height: 100px   
                border-radius: 50%
                border: 1.7px dashed #BBC7D6
                display: flex
                justify-content: center
            img
                margin-top: 40px
                width: 24px
                height: 20px
        
                    

        

