@import url(//db.onlinewebfonts.com/c/ea250342ec4016561ba9e791c2f39c11?family=Posterama)
@import url(//db.onlinewebfonts.com/c/bedb96f9dd7dc1113f0ddb36925913ab?family=PosteramaBold) 
@import url(//db.onlinewebfonts.com/c/92cfbcf0aab51ba298c0c3d1452d8c7f?family=PosteramaText)

*
    padding: 0
    margin: 0
    text-decoration: none
body
    background-color: #dae3f2
.posterama
    font-family: posterama, sans-serif

.header
    background-color: white
    width: 100%
    height: 5rem
    align-content: center
    display: flex
    flex-direction: row
    box-shadow: 0 10px 40px rgba(26, 26, 26, 0.4)
    .logo
        width: 22px
        height: 22px
        margin: 30px 10px 29px 30px
    h1
        font-size: 16px
        margin-top: 1.9rem
        color: black
        a:visited
            color: black
        
    button
        background-color: #E31C79
        height: 60px
        font-size: 16px
        border: none
        width: 160px
        color: white
        position: absolute
        margin-top: 10px
        right: 10px
        align-content: center
        img
            width: 14px
            margin-left: 14px
.main-container
    display: flex //flex
    flex-direction: column
    align-items: center
    width: 100%
    height: 54rem
    h2
        display: inline-block
        font-size: 25px
        font-family: posteramaBold, sans-serif
        margin-top: 3.9rem
    .nav-container
        width: 39rem
        height: 7rem
        border-radius: 100px
        z-index: -1
        background-color: #BBC7D6
        position: absolute
        top: 25rem
        
        align-items: center
        .hero-button
            background-color: #003DA7
            border-radius: 50%
            height: 100px
            width: 100px
            margin: 6px
            z-index: 1
        .prev
            float: left
        .next
            float: right
    .hero-container
        background-color: white
        margin-top:3.9rem
        width: 25rem
        height: 27rem
        box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4)
        display: flex
        flex-direction: column
        align-items: center
        
        img
            width: 350px
            height: 320px
            object-fit: cover
            margin-top: 30px
        p
            font-size: 20px
            margin-top: 30px
    .hidden-card
        height: 5px
        background-color: white
        box-shadow: 0px 10px 40px rgba(26, 26, 26, 0.4)
        z-index: -2
    .card1
        width: 390px
    .card2
        width: 370px
    .random
        color: #003DA7
        font-size: 16px
        font-family: PosteramaText, sans-serif
        margin-top: 3.8rem
        text-decoration: underline
        text-decoration-color: #BBC7D6
    .hero-row
        display: flex
        flex-direction: row
        align-items: center
        width: fit-content
        height: 60px
        margin-top: 3.8rem
        
        img
            width: 60px
            margin: 0 5px
            overflow: hidden
            border-radius: 50%    

.tournament-container
    display: none //flex
    flex-direction: row
    align-items: center
    width: 100%
    height: 52.1rem
    
    img
        border-radius: 50%
        width: 6.5rem
        height: 6.5rem
    .first-clmn
        display: flex
        flex-direction: column
        img 
            margin:60px 50px
    .scnd-clmn
        display: flex
        flex-direction: column
        img
            margin: 128px 87px
    .last-row
        display: flex
        flex-direction: row
        img
            margin: 0px 50px

        

