*
    margin: 0
    padding: 0
    box-sizing: border-box
    -webkit-box-sizing: border-box
    list-style-type: none
a
    color: black
a:hover
    text-decoration: none
    color: black
.goldbutton
        height: 60px
        font-family: Arial, Helvetica, sans-serif
        font-weight: bold
        color: #fff
        letter-spacing: 2px
        background: #9B6333
        box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2)
        border-radius: 30px
        border: none
.top-bar
    background-color: #F0ECE7
    height: 55px
    width: 100%
    display: flex
    flex-direction: row
    
    img
        width: 35px
        padding: 5px
    .top__bar-links
        position: absolute
        left: 250px
        display: flex
        flex-direction: row
        font-family: Arial
        font-size: 16px
        line-height: 20px
        letter-spacing: 1px
        width: fit-content
        li
            margin: 10px 0px
        a
            text-color: #1D1D1D
            font-family: Arial
            margin: 0px 10px
            
            img
                margin: 0px 7px
            
    .top__bar-langsel
        width: fit-content
        margin: 10px 20px 
        position: absolute
        right: 250px
        font-family: Arial
        
        img
            margin: 0px 20px
            
.nav-bar
    background-color: #272525
    width: 100%
    height: 75px
    display: flex
    flex-direction: row
    justify-content: center
    
    img
        height: 67px
        align-self: center
        position: absolute
        left: 250px
    .nav__bar-links
        display: flex
        flex-direction: row
        align-self: center
        font-weight: bold
        font-size: 16px
        line-height: 23px
        margin-top: 10px
        li
            margin: 0px 20px
        a
            color:#fff
            font-family: Arial
.content
    
    .hero-container
        width: 100%
        height: fit-content
        img
            width: 100%
            z-index: -1
            position: relative
            filter: brightness(50%)
        .hero-title-container
            position: absolute
            top: 350px
            left: 250px
            color: #fff
            font-weight: bold 
            h2
                font-family: Playfair Display
                font-size: 42px
                line-height: 56px
                font-weight: bold 
                
            h3
                font-family: Arial
                font-weight: bold 
                font-size: 20px
                line-height: 23px
                padding-top: 5px
            button
                width: 200px
                margin-top: 30px

    .rooms-grid-container
        h2

        h3

        button
            
        
